.login-frame
{
    padding-left: 400px;
    padding-right: 400px;
    border: 5px solid red;
    margin-top: 50px;
}

.login-box
{
    text-align: center;
    border: 5px solid rgba(16, 175, 214, 0.74);
}

.input-item
{
    margin: 5px;
}

button
{
    margin: 10px;
}