.login-frame
{
    padding-left: 400px;
    padding-right: 400px;
    border: 1px solid grey;
    margin-top: 20px;
}

.login-box
{
    text-align: center;
    border: 5px solid rgba(3, 141, 175, 0.74);
}

.input-item
{
    margin: 5px;
}

button
{
    margin: 10px;
}