{% extends "base.html" %}

{% block title %}login{% endblock %}
{% block cssFile %}
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
<link rel="stylesheet" type="text/css" href="../static/css/navBar.css">
{% endblock %}

{% block mainContainer %}
<div class="login-frame">
    <h2 class="login-title">登录</h2>
    <form>
        <div class="input-item">
            账号<br>
            <input type="text" name="user-name"><br>
        </div>
        <div class="input-item"></div>
        密码<br>
            <input type="password" name="password"><br>
            <button type="button" id="login">登录</button>
        </div>
    </form>
</div>
{% endblock %}

{% block JS %}
<!--TO DO 点击登录按钮发送数据-->
{% endblock %}